
.dividing{padding-bottom: 31px;border-bottom: 2px solid #f1f3f5;}
.logo{text-align:center;margin-top: 36px;}
.navb{text-align:center; margin-top: 48px;font-size: 14px;}
.mediaIcon{font-size: 12px;text-align:center;margin-top: 63px;}
.twitter,.facebook,.linkedin{margin-right: 10px;color:#6C757D}
.myinfo{background-color:#f4f4f4;margin-top: 20px;}
.name { margin-top: 75px;font-family: 'Dosis', sans-serif;margin-left: 55px;font-size: 37px;}
.cv{font-size: 17px; font-family: 'Dosis', sans-serif;margin-left: 55px;color: #acadab;margin-top: 21px;font-weight: 500;}
.btn-dark {color: #fff;background-color: #3B4048 !important;border-color: black;margin-left: 55px;margin-top: 23px;}
.myimg{margin-top: 20px;max-width: 100%;}
.subDividing{border-bottom: 2px solid #f1f3f5;}
.worktitle{font-size:17xp; font-weight:600;margin-top:30px;color:#5c757d;}
.card{border-color:#ffffff !important;margin-top:40px;}





